@model WebApplication3.DTOs.CityDto

@{
    ViewData["Title"] = "City Details";
}

<h1>City Details</h1>

<div>
    <h4>@Model.Name</h4>
    <dl class="row">
        <dt class="col-sm-2">Slug</dt>
        <dd class="col-sm-10">@Model.Slug</dd>

        <dt class="col-sm-2">Country</dt>
        <dd class="col-sm-10">@Model.CountryName</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to list</a>
</p>